@model List<_6_code_smells.Models.Contact>

@{
    ViewBag.Title = "Smelling Contacts";
}
<h3>Contacts</h3>
<menu>
    @Html.ActionLink("All", "Index")
    
    <div>
        @using (Html.BeginForm("Search", "Home"))
        {
            <input type="text" name="searchString"/>
            <input type="submit" value="Search"/>
        }
    </div>
</menu>
<ol>
    @foreach (var row in Model)
    {
        <li class="contact">
            <span class="name">@row.FirstName @row.LastName</span>
           
            <ul>
                @foreach (var address in row.EmailAddresses)
                {
                    <li><a href="mailto:@address">@address</a></li>
                }
            </ul>    
           
            <span>@row.PhoneNumber</span>
        </li>
    }
</ol>